<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review - Contact us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
</head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Dealership Review - Contact us</a>
                    <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Home</a>
                </div>
            </div>
        </nav>
        <div class="container">
            <h5>Contact us at (222) 333 4455</h5>
            <h5>email: BestCarsEver@gmail.com</h5>
        </div>            
    </body>

</html>